.supertitle {
    font-size: 2rem;
    font-weight: $global-weight-bold;
    margin: 0 0;
    box-decoration-break: clone;
    background-color: $primary-color;
    color:$white;
    display: inline;
    line-height: 1.5;
    padding-left:.333em;
    padding-right:.333em;
    padding-top:.1333em;
    padding-bottom:.1333em;

    @include breakpoint('large') {
        font-size: 2.5rem;
    }
    + * {
        margin-top: 2rem;
    }
    .copy & {
        color:$white;
    }
}
.notsupertitle {
    font-size: 2rem;

    @include breakpoint('large') {
        font-size: 2.5rem;
    }
}
.superlead {
    font-weight: $global-weight-bold;
}

.superlinea {
    //margin:2rem auto;
    width: 8rem;
    max-width:33.333%;
    height:.1666rem;
    border:none;
    display: inline-block;
    color: $primary-color;
    background-image: linear-gradient(90deg, currentColor .75rem, transparent .75rem, transparent 1.5rem, currentColor 1.5rem);
    .ps--pricol &{
        color: $white;
    }
    &.small {
        width: 1.5rem;
        background-color: currentColor;
    }
    &.light {
        color:$white;
    }
}

.superaccent {
    color:$primary-color;
    font-weight: $global-weight-bold;
    font-size:1.333rem;
    margin:0;
    text-align: center;
    padding:0 7.5%;
    @include breakpoint('large') {
        font-size: 2rem;
        padding:0;
        
    }
}

.bigpics {
    background-image: url(../img/teamwearblack.jpg);
    background-size: cover;
    background-position: top 40% center;
    background-attachment: fixed;
    img {
        display: none;
    }
    height:50rem;
    max-height:75vh;

}
.felesintro {
    
    @include breakpoint('tablet') {
        
        > * {
            margin-right:10%;
            max-width: 35rem;
        }

    }

    @include breakpoint('xlarge') {
        padding: 4rem 0 4rem 0;
        > * {
            //margin-right:15%;
        }
    }

}
.kihuzott {
    height:100%;
    background-color: #000;
    @include breakpoint('tablet') {
        width:35vw;
        
    }
    @include breakpoint('xlarge') {
        width:50vw;
        
    }
    img {
        width:100%;
        height:100%;
        object-fit: cover;
    }
}