.supertitle {
    font-size: 2rem;
    font-weight: $global-weight-bold;
    margin: 0 0;
    box-decoration-break: clone;
    background-color: $primary-color;
    color:$white;
    display: inline;
    line-height: 1.5666;
    padding-left:.333em;
    padding-right:.333em;
    padding-top:.1333em;
    padding-bottom:.1333em;

    @include breakpoint('large') {
        font-size: 2.5rem;
    }
    + * {
        margin-top: 2rem;
    }
    .copy & {
        color:$white;
    }
}
.notsupertitle {
    font-size: 2rem;

    @include breakpoint('large') {
        font-size: 2.5rem;
    }
}
.superlead {
    font-weight: $global-weight-bold;
}

.superlinea {
    //margin:2rem auto;
    width: 6rem;
    max-width:33.333%;
    height:.1666rem;
    border:none;
    display: inline-block;
    color: $primary-color;
    background-image: linear-gradient(90deg, currentColor .75rem, transparent .75rem, transparent 1.5rem, currentColor 1.5rem);
    .ps--pricol &{
        color: $white;
    }
    &.small {
        width: 1.5rem;
        background-color: currentColor;
    }
    &.light {
        color:$white;
    }
    // margin-top:2rem;
    // margin-bottom:2rem;
}

.promoblock {
    text-align: center;
    @include breakpoint('large') {
        text-align: initial;
        align-items: center;
    }
}
.superaccent {
    color:$primary-color;
    font-weight: $global-weight-bold;
    font-size:1.25rem;
    margin:0 auto 1em auto;
    padding:0 0;
    max-width: 35em;
    line-height:1.4;
    @include breakpoint('tablet') {
        font-size: 1.333rem;

    }
    @include breakpoint('large') {
        margin:0 0;
    }
    @include breakpoint('xlarge') {
        font-size: 1.5rem;
    }
}
.superbutton {
    margin: 0;
    background-color: $primary-color;
    color:$white;

    &:hover,&:focus {
        color:$primary-color;
        background-color: $body-background;
    }
    @include breakpoint('large') {
        font-size: 1rem;

    }
    @include breakpoint('xlarge') {
        font-size: 1.125rem;
    }
}

.bigpics {
    position: relative;
    background-image: url(../img/teamwearblack.jpg);
    background-size: cover;
    background-position: top 40% center;
    background-attachment: fixed;

    height:56.25vw;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    @include breakpoint('xxlarge') {
        height:50rem;
        max-height:75vh;
        img {
            display: none;
        }
    }


}
.felesintro {

    @include breakpoint('tablet') {

        > * {
            margin-right:10%;
            max-width: 35rem;
        }

    }

    @include breakpoint('xlarge') {
        padding: 4rem 0 4rem 0;
        > * {
            //margin-right:15%;
        }
    }

}
.kihuzott {
    height:100%;
    background-color: #000;
    @include breakpoint('tablet') {
        width:35vw;
    }
    // @include breakpoint('large') {
    //     width:35vw;

    // }
    @include breakpoint('xlarge') {
        width:50vw;

    }
    img {
        width:100%;
        height:100%;
        object-fit: cover;
    }
}


.logoka {
    height: 5rem;
    @include breakpoint('large') {
        height: 6rem;
    }
}

.keklogoblokk {
    display: flex;
    align-items: center;
    margin:2rem 0 2rem 0;
}
.keklogo {
    //float:left;
    max-width:7.875rem;
    margin-right:1.5rem;
    + strong {

        padding:.333rem 0;
        line-height:1.3;
        display:block;
        font-size:.875rem;
        color: #286AA6;
    }
}
