<section id="contact" class="academycontact ps ps--pricol" data-magellan-target="contact">
    <div class="grid-container">
        <div class="grid-x grid-margin-x ps align-center text-center">
            <div class="cell tablet-10 large-8 xlarge-6">
                <h2 class="notsupertitle">Would you like to learn from us?<br />Do you have questions?</h2>
                <hr class="superlinea" />
                <p class="superlead">
                    Our staff members are happy to help you, if you need further information on our architectural
                    visualization courses.
                </p>
                <br />
                <a target="_blank" href="{{ jotform }}" class="button">Sign up for the course alert!</a>
                <br /><br />
                <p>
                    Please contact <strong>Hajnalka Piros</strong> |
                    <strong><a href="mailto:academy@brickvisual.com">academy@brickvisual.com</a></strong>
                </p>
                <hr class="superlinea small" />
                <p>
                    Location of the courses:<br />
                    Budapest, Hungary<br />
                    1036. Perc street 8. Floor: 4th
                </p>
            </div>
        </div>
    </div>
</section>