<section id="referenceswipe" class="referenceswipe" itemscope itemtype="http://schema.org/ImageGallery">
    <figure class="referenceswipe__item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a itemprop="contentUrl" data-size="896x1280" href="{{ root }}assets/img/alumni/Adam_Szebeni.jpg">
            <img
                class="referenceswipe__img"
                itemprop="thumbnail"
                src="{{ root }}assets/img/alumni/preview/Adam_Szebeni.jpg"
                alt="Adam Szebeni"
            />
        </a>
    </figure>
    <figure class="referenceswipe__item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a itemprop="contentUrl" data-size="1196x1280" href="{{ root }}assets/img/alumni/Anna_Medvedskaya.jpg">
            <img
                class="referenceswipe__img"
                itemprop="thumbnail"
                src="{{ root }}assets/img/alumni/preview/Anna_Medvedskaya.jpg"
                alt="Anna Medvedskaya"
            />
        </a>
    </figure>
    <figure class="referenceswipe__item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a itemprop="contentUrl" data-size="883x1280" href="{{ root }}assets/img/alumni/Arco_Iris.jpg">
            <img
                class="referenceswipe__img"
                itemprop="thumbnail"
                src="{{ root }}assets/img/alumni/preview/Arco_Iris.jpg"
                alt="Arco Iris"
            />
        </a>
    </figure>
    <figure class="referenceswipe__item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a itemprop="contentUrl" data-size="1280x799" href="{{ root }}assets/img/alumni/Janne_Reponen_no2.jpg">
            <img
                class="referenceswipe__img"
                itemprop="thumbnail"
                src="{{ root }}assets/img/alumni/preview/Janne_Reponen_no2.jpg"
                alt="Janne Reponen - no. 2."
            />
        </a>
    </figure>
    <figure class="referenceswipe__item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a itemprop="contentUrl" data-size="1024x1280" href="{{ root }}assets/img/alumni/Janne_Reponen.jpg">
            <img
                class="referenceswipe__img"
                itemprop="thumbnail"
                src="{{ root }}assets/img/alumni/preview/Janne_Reponen.jpg"
                alt="Janne Reponen - no. 1."
            />
        </a>
    </figure>
    <figure class="referenceswipe__item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a itemprop="contentUrl" data-size="998x1280" href="{{ root }}assets/img/alumni/Ksenia_Nechaeva.jpg">
            <img
                class="referenceswipe__img"
                itemprop="thumbnail"
                src="{{ root }}assets/img/alumni/preview/Ksenia_Nechaeva.jpg"
                alt="Ksenia Nechaeva"
            />
        </a>
    </figure>
    <figure class="referenceswipe__item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a itemprop="contentUrl" data-size="869x1280" href="{{ root }}assets/img/alumni/Rodrigo_San_Martin_no2.jpg">
            <img
                class="referenceswipe__img"
                itemprop="thumbnail"
                src="{{ root }}assets/img/alumni/preview/Rodrigo_San_Martin_no2.jpg"
                alt="Rodrigo San Martin - no. 2."
            />
        </a>
    </figure>
    <figure class="referenceswipe__item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a itemprop="contentUrl" data-size="1280x720" href="{{ root }}assets/img/alumni/Rodrigo_San_Martin.jpg">
            <img
                class="referenceswipe__img"
                itemprop="thumbnail"
                src="{{ root }}assets/img/alumni/preview/Rodrigo_San_Martin.jpg"
                alt="Rodrigo San Martin - no. 1."
            />
        </a>
    </figure>
    <figure class="referenceswipe__item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a itemprop="contentUrl" data-size="1052x1280" href="{{ root }}assets/img/alumni/Vincenzo_Massa.jpg">
            <img
                class="referenceswipe__img"
                itemprop="thumbnail"
                src="{{ root }}assets/img/alumni/preview/Vincenzo_Massa.jpg"
                alt="Vincenzo Massa"
            />
        </a>
    </figure>
    <figure class="referenceswipe__item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a itemprop="contentUrl" data-size="1280x833" href="{{ root }}assets/img/alumni/Zsolt_Hegedus.jpg">
            <img
                class="referenceswipe__img"
                itemprop="thumbnail"
                src="{{ root }}assets/img/alumni/preview/Zsolt_Hegedus.jpg"
                alt="Zsolt Hegedus"
            />
        </a>
    </figure>
</section>
