<section class="hbpslider">
    <div class="owl-carousel owl-slider">
        <div class="hbpslider__item">
            <img class="hbpslider__img" src="{{ root }}assets/img/photostrip/AR.jpg" alt="" />
        </div>
        <div class="hbpslider__item">
            <img
                class="hbpslider__img"
                src="{{ root }}assets/img/photostrip/compositor_ad_bacplate.jpg"
                alt=""
            />
        </div>
        <div class="hbpslider__item">
            <img class="hbpslider__img" src="{{ root }}assets/img/photostrip/cutcables.jpg" alt="" />
        </div>
        <div class="hbpslider__item">
            <img class="hbpslider__img" src="{{ root }}assets/img/photostrip/cutnodes.jpg" alt="" />
        </div>
        <div class="hbpslider__item">
            <img
                class="hbpslider__img"
                src="{{ root }}assets/img/photostrip/office_environment.jpg"
                alt=""
            />
        </div>
        <div class="hbpslider__item">
            <img class="hbpslider__img" src="{{ root }}assets/img/photostrip/VR_cut.jpg" alt="" />
        </div>
        <div class="hbpslider__item">
            <img
                class="hbpslider__img"
                src="{{ root }}assets/img/photostrip/VR_Space_with_ppl.jpg"
                alt=""
            />
        </div>
        <div class="hbpslider__item">
            <img class="hbpslider__img" src="{{ root }}assets/img/photostrip/wacom_web.jpg" alt="" />
        </div>
        <div class="hbpslider__item">
            <img
                class="hbpslider__img"
                src="{{ root }}assets/img/photostrip/watchingmovie.jpg"
                alt=""
            />
        </div>
    </div>
</section>
