<section class="hbpslider">
    <div class="owl-carousel owl-slider">
        <div class="hbpslider__item">
            <img
                class="hbpslider__img"
                src="{{ root }}assets/img/photostrip/AR.jpg"
                alt="Augmented Reality on Ipad"
            />
        </div>
        <div class="hbpslider__item">
            <img
                class="hbpslider__img"
                src="{{ root }}assets/img/photostrip/compositor_ad_bacplate.jpg"
                alt="Compositor green box"
            />
        </div>
        <div class="hbpslider__item">
            <img
                class="hbpslider__img"
                src="{{ root }}assets/img/photostrip/cutcables.jpg"
                alt="Network cables at the render farm"
            />
        </div>
        <div class="hbpslider__item">
            <img
                class="hbpslider__img"
                src="{{ root }}assets/img/photostrip/cutnodes.jpg"
                alt="High rendering capacity"
            />
        </div>
        <div class="hbpslider__item">
            <img
                class="hbpslider__img"
                src="{{ root }}assets/img/photostrip/office_environment.jpg"
                alt="Office outdoor environment"
            />
        </div>
        <div class="hbpslider__item">
            <img class="hbpslider__img" src="{{ root }}assets/img/photostrip/VR_cut.jpg" alt="" />
        </div>
        <div class="hbpslider__item">
            <img
                class="hbpslider__img"
                src="{{ root }}assets/img/photostrip/VR_Space_with_ppl.jpg"
                alt="VR assets"
            />
        </div>
        <div class="hbpslider__item">
            <img
                class="hbpslider__img"
                src="{{ root }}assets/img/photostrip/wacom_web.jpg"
                alt="Wacom in Action"
            />
        </div>
        <div class="hbpslider__item">
            <img
                class="hbpslider__img"
                src="{{ root }}assets/img/photostrip/watchingmovie.jpg"
                alt="Chill out break"
            />
        </div>
    </div>
</section>
