<section class="hbpslider">
    <div class="owl-carousel owl-slider">
        <div class="hbpslider__item">
            <a href="{{ root }}assets/img/alumni/Adam_Szebeni.jpg">
                <img
                    class="hbpslider__img"
                    src="{{ root }}assets/img/alumni/preview/Adam_Szebeni.jpg"
                    alt="Adam Szebeni"
                />
            </a>
        </div>
        <div class="hbpslider__item">
            <a href="{{ root }}assets/img/alumni/Anna_Medvedskaya.jpg">
                <img
                    class="hbpslider__img"
                    src="{{ root }}assets/img/alumni/preview/Anna_Medvedskaya.jpg"
                    alt="Anna Medvedskaya"
                />
            </a>
        </div>
        <div class="hbpslider__item">
            <a href="{{ root }}assets/img/alumni/Arco_Iris.jpg">
                <img class="hbpslider__img" src="{{ root }}assets/img/alumni/preview/Arco_Iris.jpg" alt="Arco Iris" />
            </a>
        </div>
        <div class="hbpslider__item">
            <a href="{{ root }}assets/img/alumni/Janne_Reponen_no2.jpg">
                <img
                    class="hbpslider__img"
                    src="{{ root }}assets/img/alumni/preview/Janne_Reponen_no2.jpg"
                    alt="Janne Reponen - no. 2."
                />
            </a>
        </div>
        <div class="hbpslider__item">
            <a href="{{ root }}assets/img/alumni/Janne_Reponen.jpg">
                <img
                    class="hbpslider__img"
                    src="{{ root }}assets/img/alumni/preview/Janne_Reponen.jpg"
                    alt="Janne_Reponen - no. 1."
                />
            </a>
        </div>
        <div class="hbpslider__item">
            <a href="{{ root }}assets/img/alumni/Ksenia_Nechaeva.jpg">
                <img
                    class="hbpslider__img"
                    src="{{ root }}assets/img/alumni/preview/Ksenia_Nechaeva.jpg"
                    alt="Ksenia Nechaeva"
                />
            </a>
        </div>
        <div class="hbpslider__item">
            <a href="{{ root }}assets/img/alumni/Rodrigo_San_Martin_no2.jpg">
                <img
                    class="hbpslider__img"
                    src="{{ root }}assets/img/alumni/preview/Rodrigo_San_Martin_no2.jpg"
                    alt="Rodrigo San Martin - no. 2."
                />
            </a>
        </div>
        <div class="hbpslider__item">
            <a href="{{ root }}assets/img/alumni/Rodrigo_San_Martin.jpg">
                <img
                    class="hbpslider__img"
                    src="{{ root }}assets/img/alumni/preview/Rodrigo_San_Martin.jpg"
                    alt="Rodrigo San Martin - no. 1."
                />
            </a>
        </div>
        <div class="hbpslider__item">
            <a href="{{ root }}assets/img/alumniVincenzo_Massa.jpg">
                <img
                    class="hbpslider__img"
                    src="{{ root }}assets/img/alumni/preview/Vincenzo_Massa.jpg"
                    alt="Vincenzo Massa"
                />
            </a>
        </div>
        <div class="hbpslider__item">
            <a href="{{ root }}assets/img/alumni/Zsolt_Hegedus.jpg">
                <img
                    class="hbpslider__img"
                    src="{{ root }}assets/img/alumni/preview/Zsolt_Hegedus.jpg"
                    alt="Zsolt Hegedus"
                />
            </a>
        </div>
    </div>
</section>
