<header class="banner" data-sticky-container>
    <div class="banner__top" data-sticky data-sticky-on="small" data-options="marginTop:0;">
        <div class="grid-container" data-aos="fade-down" data-aos-delay="500">
            <div class="grid-x grid-margin-x">
                <div class="auto cell">
                    <div class="banner__branding">
                        <a class="brand" href="https://brickvisual.com/academy/">
                            <img
                                class="brand__fulllogo"
                                src="{{ root }}assets/img/academylogo.svg"
                                alt="Brick Academy"
                            />
                        </a>
                    </div>
                </div>
                <div class="auto cell show-for-large">
                </div>
                <div class="shrink cell ahide-for-large">
                    <a
                        target="_blank"
                        href="{{ jotform }}"
                        class="banner__subscribe dark button tiny"
                        type="button"
                        >Book a Seat</span></a
                    >
                </div>
            </div>
        </div>
    </div>
</header>
