<div
  class="reveal mobilemodal"
  id="mobilemodal"
  data-reveal
  data-animation-in="scale-in-down fast"
  data-animation-out="scale-out-up fast"
>
  <div class="mobilemodal__inner">
    <nav class="mobilemodal__mainnav">
      <a class="mobilemodal__brand" href="{{ root }}">
        <img src="{{ root }}assets/img/academylogo.svg" alt="Brick Academy" />
      </a>
      <ul class="menu accordion-menu menu--mobilemain" data-accordion-menu>
        <li class="is-active menu-item" role="menuitem">
          <a href="#" aria-current="page">Home</a>
        </li>
        <li class="menu-item" role="menuitem">
          <a href="#">About</a>
        </li>
        <li class="menu-item" role="menuitem">
          <a href="#">Newsroom</a>
        </li>
        <li class="menu-item menu-contact" role="menuitem">
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
