<div class="grid-container">
    <div class="grid-x grid-margin-x ps align-center text-center">
        <div class="cell tablet-10 large-8 xlarge-6">
            <h2 class="supertitle">Office & Facilities</h2>
            <p>
                You will learn in our well-equipped, spacious and full of light office at Budapest and experience the
                easy-going vibe of our community. Brick Academy’s conscious teaching method gives you the unique chance
                to observe, how a rather big, high-profile visualization studio works with international, top
                architectural companies, such as BIG, Snøhetta or SOM.
            </p>
            <hr class="superlinea" />
        </div>
    </div>
</div>

<div class="grid-container">
    <div class="figaro">
        <figure>
            <img src="{{ root }}assets/img/figaro/1b.jpg" alt="Work is in progress" />
        </figure>
        <figure>
            <img src="{{ root }}assets/img/figaro/2.jpg" alt="Academy's workstations" />
        </figure>
        <figure><img src="{{ root }}assets/img/figaro/3b.jpg" alt="Rooftop at Brick" /></figure>
        <figure><img src="{{ root }}assets/img/figaro/4.jpg" alt="Team at break" /></figure>
        <figure>
            <img src="{{ root }}assets/img/figaro/5.jpg" alt="High profile visualisation office" />
        </figure>
    </div>
</div>

<div class="grid-container">
    <div class="grid-x grid-margin-x ps align-center text-center">
        <div class="cell tablet-10 large-8 xlarge-6">
            <h2 class="supertitle">High-tech Environment</h2>
            <p>
                As archviz requires reliable technical background, we offer well-equipped workstations, you can work
                effectively and smoothly. You will have access to Brick Visual’s green box studio, cameras, Wacom
                Cintiqs and VR gadgets.
            </p>
            <hr class="superlinea" />
        </div>
    </div>
</div>
