<div id="teachers" data-magellan-target="teachers">
    <div class="grid-container">
        <div class="grid-x grid-margin-x ps align-center text-center">
            <div class="cell tablet-10 large-8 xlarge-6">
                <h2 class="supertitle">Teachers & Mentors</h2>
                <p>
                    Learn valuable knowledge from Brick Visual’s top industry professionals. The tailor-made program
                    encourages personal, immediate interaction and instant feedback during the course.
                </p>
                <hr class="superlinea" />
            </div>
        </div>
    </div>

    <div id="membersblock1" class="membersblock">
        <div class="grid-container">
            <section class="membergrid grid-x grid-margin-x small-up-2 medium-up-3 large-up-4 align-center">
                <div class="cell">
                    <article class="membercard team_member">
                        <figure class="membercard__figure">
                            <a href="#">
                                <img width="768" height="768" src="{{ root }}assets/img/portraits/Andraslepcso.jpg" />
                            </a>
                        </figure>
                        <header class="membercard__data">
                            <h2 class="membercard__title">
                                <a href="#">András Káldos</a>
                            </h2>
                            <p class="membercard__designation">CEO</p>
                        </header>
                    </article>
                </div>
                <div class="cell">
                    <article class="membercard team_member">
                        <figure class="membercard__figure">
                            <a href="#">
                                <img width="768" height="768" src="{{ root }}assets/img/portraits/L_Istvan.jpg" />
                            </a>
                        </figure>
                        <header class="membercard__data">
                            <h2 class="membercard__title">
                                <a href="#">István Lovák</a>
                            </h2>
                            <p class="membercard__designation">Conductor/ Teacher</p>
                        </header>
                    </article>
                </div>
                <div class="cell">
                    <article class="membercard team_member">
                        <figure class="membercard__figure">
                            <a href="#">
                                <img width="768" height="768" src="{{ root }}assets/img/portraits/Marci.jpg" />
                            </a>
                        </figure>
                        <header class="membercard__data">
                            <h2 class="membercard__title">
                                <a href="#">Márton Zoltán Tóth</a>
                            </h2>
                            <p class="membercard__designation">Art Director</p>
                        </header>
                    </article>
                </div>
                <div class="cell">
                    <article class="membercard team_member">
                        <figure class="membercard__figure">
                            <a href="#">
                                <img width="768" height="768" src="{{ root }}assets/img/portraits/Pazsi.jpg" />
                            </a>
                        </figure>
                        <header class="membercard__data">
                            <h2 class="membercard__title">
                                <a href="#">Péter Pazsiczky</a>
                            </h2>
                            <p class="membercard__designation">Mentor</p>
                        </header>
                    </article>
                </div>
            </section>
        </div>
    </div>

    <div class="grid-container ps">
        <div class="grid-x grid-margin-x align-center text-center">
            <div class="cell tablet-10 large-8 xlarge-6">
                <p>
                    You will learn from real 3D artists, in a buzzing, living office, where dozens of archviz creations
                    are made daily. Our mentors are senior artists at Brick Visual, with deeply rooted humbleness
                    towards their profession. They are not only top-notch artists, but motivated teachers, who can
                    engagingly share their knowledge and experiences with you, while giving valuable feedback essential
                    to develop your skills.
                </p>
            </div>
        </div>
    </div>

    <div id="membersblock2" class="membersblock">
        <div class="grid-container">
            <section class="membergrid grid-x grid-margin-x small-up-2 medium-up-3 large-up-4 align-center">
                <div class="cell">
                    <article class="membercard team_member">
                        <figure class="membercard__figure">
                            <a href="#">
                                <img width="768" height="768" src="{{ root }}assets/img/portraits/Vida.jpg" />
                            </a>
                        </figure>
                        <header class="membercard__data">
                            <h2 class="membercard__title">
                                <a href="#">András Vida</a>
                            </h2>
                            <p class="membercard__designation">Mentor</p>
                        </header>
                    </article>
                </div>
                <div class="cell">
                    <article class="membercard team_member">
                        <figure class="membercard__figure">
                            <a href="#">
                                <img width="768" height="768" src="{{ root }}assets/img/portraits/Mate.jpg" />
                            </a>
                        </figure>
                        <header class="membercard__data">
                            <h2 class="membercard__title">
                                <a href="#">Máté Ruga</a>
                            </h2>
                            <p class="membercard__designation">Mentor</p>
                        </header>
                    </article>
                </div>
                <div class="cell">
                    <article class="membercard team_member">
                        <figure class="membercard__figure">
                            <a href="#">
                                <img width="768" height="768" src="{{ root }}assets/img/portraits/Hajni.jpg" />
                            </a>
                        </figure>
                        <header class="membercard__data">
                            <h2 class="membercard__title">
                                <a href="#">Hajnalka Piros</a>
                            </h2>
                            <p class="membercard__designation">Coordinator</p>
                        </header>
                    </article>
                </div>
                <div class="cell">
                    <article class="membercard team_member">
                        <figure class="membercard__figure">
                            <a href="#">
                                <img width="768" height="768" src="{{ root }}assets/img/portraits/Jud.jpg" />
                            </a>
                        </figure>
                        <header class="membercard__data">
                            <h2 class="membercard__title">
                                <a href="#">Judit Huszar</a>
                            </h2>
                            <p class="membercard__designation">Communication/ Press</p>
                        </header>
                    </article>
                </div>
            </section>
        </div>
    </div>

    <div class="grid-container ps">
        <div class="grid-x grid-margin-x align-center text-center">
            <div class="cell tablet-10 large-8 xlarge-6">
                <!-- <blockquote>
                    <p>
                        The way our mentors have built the lectures was very easy to understand, it was a clever and
                        well built material that helped our learning tremendously. It’s rare to experience so much help
                        from coworkers and not just during the academy, but after joining the team.
                    </p>
                    <cite
                        >Hanga Györgyi - Graduate of the first Brick Academy, currently a 3D artist at Brick
                        Visual</cite
                    >
                </blockquote>
                <hr class="superlinea" />
                <br /><br /> -->
                <p>
                    Brick Visual’s staff will help you to organize visas, travel and accommodation and are ready to
                    answer your questions and ease your way to be a successful candidate at Brick Academy.
                </p>
                <p><strong>Don’t hesitate to ask, they are happy to help you.</strong></p>
            </div>
        </div>
    </div>
</div>
